$blue-solid: #347092;
$blue-hover: lighten($blue-solid, 10);
$blue: linear-gradient(#347092, #295670, #347092);
$blue-light: #BCDFFB;
$blue-lightest: #D9EDFC;

$gray-solid: #999999;
$gray-solid-light: #a6a6a6;
$gray: linear-gradient(#a6a6a6, #999999, #a6a6a6);
$gray-light: #D2D7DA;
$gray-lightest: #E4ECF1;
$gray-primeng: #c8c8c8;
$gray-font: #313336;

$success-color: #336600;
$danger-color: #cc0000;