@import 'variables';

:host {
	padding: .6em;
	border: 1px solid $gray-primeng;
	border-radius: 3px;
}
:host ::ng-deep {
	.fc {
		width: 350px;
	}
	.fc th {
		background: $blue;
	}
	.fc-dayGrid-view .fc-body .fc-row {
		border-right-width: 0;
		min-height: 1.5em;
	}
	.fc-toolbar.fc-header-toolbar {
		margin-bottom: .5em;
		.fc-button {
			background: $blue;
			&:enabled:hover {
				background: $blue-hover;
			}
		}
	}
}