@import 'variables';

.container {
	display: grid;
	grid-template-columns: repeat(3, 370px);
	grid-template-rows: repeat(2, 300px) 600px;
	grid-gap: 1em;
	> * {
		background: #E6F1FA;
	}
	app-upcoming-events, app-news {
		grid-column: 1 / 3;
	}
}
::ng-deep {
	p-menu .ui-menu {
		background: #E6F1FA;
		.ui-submenu-header {
			background: $blue;
			text-align: center;
			text-transform: uppercase;
		}
		.ui-menuitem-link {
			&:hover {
				.ui-menuitem-text {
					color: #007ad9;
					text-decoration: underline;
				}
				background: initial;
			}
			.ui-menuitem-text {
				color: #007ad9;
			}
			padding: .5em 0 0 .5em;
		}
	}
}