<div class="content">
	<section class="contacts">
		<h3>Kontakt:</h3>
		<address>
			<span class="title">Obec Blešno</span>
			<span class="address">Blešno 73, <br>503 46 Třebechovice pod Orebem</span>
			<span class="phone"><strong>Telefon:</strong> +420 495 428 270</span>
			<span class="mail"><strong>E-mail: </strong>starosta(at)blesno.cz</span>
		</address>
	</section>
	<section class="admin">
		<h3>Admin:</h3>
		<p>
			<a href="/admin/guidepost">Přihlásit se</a>
		</p>
		<p>
			<a (click)="logout()">Odhlásit se</a>
		</p>
	</section>
	<section class="links">
		<h3>Odkazy:</h3>
		<p-menu [model]="externalLinks"></p-menu>
	</section>
</div>
