<div class="p-field ui-fluid">
	<label for="category">Kategorie:</label>
	<p-dropdown id="category" [options]="categories" (onChange)="handleCategoryChange($event)"></p-dropdown>
</div>

<p-table [value]="attachments" [lazy]="true" (onLazyLoad)="loadAttachments($event)"
	[paginator]="true" [rows]="10" [totalRecords]="numOfAttachments" [loading]="loading" #table>
	<ng-template pTemplate="header">
		<tr>
			<th>Id</th>
			<th>Nazev</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-attachment>
		<tr>
			<td>
				<a [routerLink]="attachment.id">{{ attachment.id }}</a>
			</td>
			<td>
				<a [routerLink]="attachment.id">{{ attachment.name }}</a>
			</td>
		</tr>
	</ng-template>
</p-table>

<div class="toolbar">
	<p-button (onClick)="createNew()" label="Nový" styleClass="ui-button-success"></p-button>
</div>